<div class="hero padding-tb-large">
  <div class="container">
    <div class="hero-scripture text-color-1 right col-md-5 col-sm-offset-7">
        Show me your faith without deeds, 
        and I will show you my faith by my deeds. <br> 
        James 2:18
    </div>
  </div>
  
</div>
<%= render 'layouts/quote' %>
<%= render 'layouts/welcome' %>
<%= render 'layouts/slideshow' %>
<%= render 'layouts/subscribe' %>