<div class="welcome padding-tb-large">
	<div class="container">
		<div class="header text-color-2 center">
			Welcome to First Friday's
		</div>
		<div class="justify text-size-small padding-tb-small full-container">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam bibendum viverra nisl non pretium. Mauris nec ultrices enim. Nunc convallis nunc ligula, at consequat erat interdum sed. Praesent accumsan sagittis metus non pharetra. Vivamus euismod blandit dolor, vitae suscipit elit tempor blandit. Sed sollicitudin convallis massa vitae tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed quis sagittis nisi, non posuere nulla. Vestibulum gravida purus metus, vitae eleifend libero vestibulum a. Morbi risus odio, congue a facilisis ut, venenatis a nibh. Suspendisse orci sem, aliquet ut libero eu, mollis finibus elit.
		</div>

	</div>
</div>